    <div class="network-leads">
<div class="leader-bg-img" style="background-image: url({{.Params.image}});"></div>
      <a class="leader-copy" href="https://docs.google.com/a/womenwhocode.com/forms/d/1rRzW5UIGivuHsBjH_cC4TRHeAMLZMI5JiHnunMbe-dg/viewform" target="_blank">
        <h6 class="director-label">director</h6>
        <h6 class="lead-name">
          {{.Params.name}}
        </h6>
        <p class="leader-hover-quote">
          <!--?xml version="1.0" ?--><svg height="24px" version="1.1" viewBox="0 0 32 24" width="32px" class="icon-quote"><path d="M32,24V12h-8c0-4.41,3.586-8,8-8V0c-6.617,0-12,5.383-12,12v12H32z"></path><path d="M12,24V12H4c0-4.41,3.586-8,8-8V0C5.383,0,0,5.383,0,12v12H12z"></path></svg>
          {{.Params.quote}}
          <!--?xml version="1.0" ?--><svg height="24px" version="1.1" viewBox="0 0 32 24" width="32px" class="icon-quote"><path d="M0,0v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V0H0z"></path><path d="M20,0v12h8c0,4.41-3.586,8-8,8v4c6.617,0,12-5.383,12-12V0H20z"></path></svg>

        </p>
        <p class="leader-hover-name">
        - {{.Params.name}}
        </p>
      </a>
    </div>
