<meta charset="UTF-8">
<title>Women Who Code DC | {{ .Title }}</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="{{ .Site.BaseURL }}/css/milligram.min.css" rel="stylesheet"/>
<link href="{{ .Site.BaseURL }}/css/styles.css" rel="stylesheet"/>