<div class="person">
    <a class="toggle" href="#" alt="{{ .Params.name }} {{ .Params.wwcdcTitle }}">
        <img src="{{ .Params.image }}" alt="{{ .Params.name }} {{ .Params.wwcdcTitle }}" />
    </a>
    <div class="intro">
        <h4>{{ .Params.name }}</h4>
        <div>
            <small>{{ .Params.wwcdcTitle }}</small>
            <div class="social">
                {{ if isset .Params "linkedin" }}
                    <a href="{{ .Params.linkedin }}" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                {{ end }}
                {{ if isset .Params "github" }}
                    <a href="https://www.github.com/{{ .Params.github }}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                {{ end }}
                {{ if isset .Params "twitter" }}
                    <a href="https://wwww.twitter.com/{{ .Params.twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                {{ end }}
            </div>
        </div>
    </div>
    <div class="info-container">
        <div class="info-copy">
            <div>
                {{ .Content }}
            </div>
        </div>
    </div>
</div>