<header class="nav-header-fixed">
  <div class="nav-header-wrapper">
    <a class="left-nav-header-logo" href="{{ .Site.BaseURL }}">
      {{ partial "header-logo.html" . }}
    </a>
    <button aria-label="Toggle Navigation" class="lines-button x" id="mbtn" role="button" type="button">
      <span class="lines"></span>
    </button>
    <div class="nav-menu">
      <!-- responsive burger -->
      <ul id="main-menu" class="ul-menu">
        {{ $currentNode := . }}
        {{ range .Site.Menus.main }}
          <li class="li-nav-link {{if $currentNode.IsMenuCurrent "main" . }} active{{end}}">
            <a href="{{.URL}}">
              {{ .Name }}
            </a>
          </li>
        {{ end }}
        <li class="li-nav-link donate-nav">
          <a href="https://www.womenwhocode.com">
            WWC
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>