<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "head.html" . }}
</head>
<body class="controller_networks">
  {{ partial "header.html" . }}
<div class="network-wrapper">
  <div class="about-header-container">
    <div class="about-header-background-img"></div>
    <div class="welcome-text">
      <h1 class="hero-title">{{ .Title }}</h1>
      <h6 class="subheadline">{{ .Description }}</h6>
    </div>
  </div>
  <div class="about-network-container">
      {{ .Content }}
  </div>
</div>
{{ partial "footer.html" . }}
</body>
</html>